.container {
  flex: 1;
  height: 100%;
  display: flex;
}

.canvas {
  flex: 1;
  padding: 5px;
  background-color: #a7a7a7;

  .canvas-actual {
    cursor: crosshair;
    background-color: white;
  }

  .canvas-overlay {
    position: absolute;
    transform: translateX(-100%);
    pointer-events: none;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input {
  -moz-appearance: textfield; /* Firefox */
}

.row {
  max-width: 800px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  
  .col {
    position: relative;
    display: inline-block;
    margin: 8px;
  }
}
.input {
  display: inline-block;
  width: 215px;
  padding: 10px 0 10px 15px;
  font-weight: 400;
  background: white;
  border: 0;
  border-radius: 3px;
  text-indent: 70px;
  
  + label {
    display: inline-block;
    position: absolute;
    transform: translateX(0);
    top: 0;
    left: 0;
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
      background: gray;
  }
}