.color-panel {
  display: flex;
  align-content: flex-start;
  padding: 5px;
  flex-wrap: wrap;
  background-color: gray;
  border-radius: 0.5em;
  margin: 10px 0 10px  50px;

  .color {
    border: 1px solid white;
    border-radius: 1em;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    margin: 5px;
    transition: transform 0.2s;

    &:hover {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      transition: transform 0.2s;
    }
  }
}
